*log
__pycache__/
 *.pyc
.vscode/
log_*
*.csv
docker/espresso/**
docker/packages/**
*.pkl
*.qsub
qsubs/**
*.log
**/build/**
**/*.egg-info/**
qsub_factory.py
plots.py
*.html
*.ipynb
gibbs.bib
plots.py
