[user]
	email = helvrud@gmail.com
	name = O.V. Rud
[core]
	quotepath = off
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p

[diff]
	external = /home/kvint/bin/diff.py
[push]
	default = simple
[gui]
	editor = gvim
[cola]
	spellcheck = false
