*log
__pycache__/
 *.pyc
.vscode/
log_*
*.csv
docker/espresso/**
docker/packages/**
*.pkl
*.qsub
qsubs/**
*.log
**/build/**
**/*.egg-info/**
*.html
*.ipynb
gibbs.bib
#snippets.txt
#qsub_factory.py
#plots.py
*.lyx~
*.bak
*.bbl
*.synctex.gz
scripts/data/*
try/*
*.aux
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.tdo
*.nav
*.out
*.snm
*.toc
*.eps

#figures/*.vsz

